p.aa {
  font-size: 1em;
  line-height: 1.1em;
  font-family: 'ＭＳ Ｐゴシック','MS PGothic',RobotoJAA,Monapo,'IPA モナー Pゴシック',IPAMonaPGothic,Mona,'梅Pゴシック',sans-serif;
  letter-spacing: 0;
  margin: 0.5em auto;
  width: 75%;
}

p {
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'ＭＳ Ｐゴシック','MS PGothic',RobotoJAA,Monapo,'IPA モナー Pゴシック',IPAMonaPGothic,Mona,'梅Pゴシック',sans-serif;
  letter-spacing: 0;
  margin: 1em auto;
  width: 80%;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table td.sc {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
